/WPF_01_Calculator/.vs
/WPF_01_Calculator/WPF_01_Calculator/bin/Debug
/WPF_01_Calculator/WPF_01_Calculator/obj/Debug
/WPF_02_Paint/.vs
/WPF_02_Paint/WPF_02_Paint/bin/Debug
/WPF_02_Paint/WPF_02_Paint/obj/Debug
/WPF_03_Control/.vs
/WPF_03_Control/WPF_03_Control/bin/Debug
/WPF_03_Control/WPF_03_Control/obj/Debug
/WPF_04_Media/.vs
/WPF_04_Media/WPF_04_Media/obj/Debug
/WPF_04_Media/WPF_04_Media/bin/Debug
/WPF_05_KeyboardTrainer/.vs
/WPF_05_KeyboardTrainer/WPF_05_KeyboardTrainer/bin/Debug
/WPF_05_KeyboardTrainer/WPF_05_KeyboardTrainer/obj/Debug
/WPF_06_Newspaper/.vs
/WPF_06_Newspaper/WPF_06_Newspaper/bin/Debug
/WPF_06_Newspaper/WPF_06_Newspaper/obj/Debug
/WPF_07_ColorPicker/.vs
/WPF_07_ColorPicker/WPF_07_ColorPicker/bin/Debug
/WPF_07_ColorPicker/WPF_07_ColorPicker/obj/Debug